<div class="first-form-view">
  <%= render 'shared/header' %>
     <div class="result-genres-main-full">
      <div class="result-genres-name-title">
        <p>ジャンル追加・一覧</p>
      </div>
    </div>
  <div class="top-contents">
    <aside class="sidebar_left">
      <%= render 'shared/sidebar_left' %>
    </aside>
    <article class="form-article">
      <div class="form-title">
      <div class="error-message">
        <% if @genre.errors.any? %>
         <%= @genre.errors.count %>件のエラーが発生しました
         <ul>
           <% @genre.errors.full_messages.each do |message| %>
           <li><%= message %></li>
           <% end %>
         </ul>
        <% end %>
      </div>
    </div>
      <div>
        <%= form_with model: @genre do |f| %>
          <div class="genre-full-form">
            <div></div>
            <div class="genre-search-content-inner">
              <div class="genre-search-btn">
                <%= f.text_field :name, placeholder: "ジャンル名"%>
              </div>
              <div class="genre-search-btn-submit">
                <%= f.submit "追加" %>
              </div>  
            </div>
          </div>
        <% end %>
      </div>
      <div class="genre-content">
        <div class="genre-content-top">
          <% @genres.each do |genre| %>
            <div class="genre-content-inner">
              <div class="genre-content-inner-name"><%= genre.name %></div>
              <div class="genre-content-inner-edit">
                <%= link_to edit_genre_path(genre.id) do %>
                  <%= image_tag asset_path('edit.png'), class: "genre-edit-link-icon" %>
                <% end %>
              </div>
              <div class="genre-content-inner-edit">
                <%= link_to genre_path(genre.id), method: :delete, "data-confirm" => "本当に削除しますか？" do %>
                  <%= image_tag asset_path('trushbox.png'), class: "genre-edit-link-icon" %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </article>
    <aside class="sidebar_right">
      <%= render 'shared/sidebar_right' %>
    </aside>
  </div>
</div>
<%= render 'shared/footer' %>