<div>
  <div class="row mt-3">
    <div class="col-md-5">
      <h4 class="my-4 text-md-end text-left" >
        <span class="text-white bg-secondary px-4">ジャンル一覧・追加</span>
      </h4>
    </div>
  </div>
  <div class="mt-5">
    <%= form_for @genre do |f| %>
      <div class="row ">
        <div class="col-md-2 mt-1">
          <strong>ジャンル名</strong>
        </div>
        <div class="col-md-3 mt-1">
          <%= f.text_field :name, placeholder: "ジャンル名"%>
        </div>
        <div class="col-md-2">
          <%= f.submit "新規登録", class: "btn btn-success" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-5">
      <table class = "table table-hover mt-5">
        <thead class="table-active">
          <tr>
            <th class="pl-5 ml-5">ジャンル</th>
            <th colspan="1"></th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
          <tr>
            <td><%= genre.name %></td>
            <td><%= link_to "編集する", edit_genre_path(genre.id) ,class: "btn btn-primary" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-7"></div>
  </div>
</div>
