<div class="first-home-view">
  <%= render 'shared/header' %>
  <div class="result-genre-full">
    <%= render 'shared/flash' %>
    <% if request.path.match(/\/search(\/)?/) %>
    <div class="genre-full-top">
      <div class="result-genre-top"></div>
      <div class="result-genre-middle">
        <div class="result-genre-name">
          <p>ジャンル検索結果：<%= @genre.name %></p>
        </div>
      </div>
      <div class="result-genre-bottom"></div>
    <% else %>
      <div class="result-genre-name-index">
        <p>学習投稿一覧</p>
      </div>
      <% end %>
    </div>
    <div class="top-contents">
      <aside class="sidebar_left">
        <%= render 'shared/sidebar_left' %>
      </aside>
      <article class="home-article">
        <%= render 'shared/post_learnings_index' %>
      </article>
      <aside class="sidebar_right">
        <%= render 'shared/sidebar_right' %>
      </aside>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>



