<div class="first-form-view">
  <%= render 'shared/header' %>
  <div class="top-contents">
    <aside class="sidebar_left">
      <%= render 'shared/sidebar_left' %>
    </aside>
    <article class="form-article">
     <div class="form-view">
      <h1>
         <span>投稿フォーム</span>
      </h1>
      <div class="form-title">
        <div class="error-message-new">
          <% if @post_learning.errors.any? %>
            <ul>
              <% @post_learning.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
      <%= form_with model: @post_learning, local:true do |f| %>
        <div class="form-table">
          <div class="form-name">
            <p class="form-th"><%= f.label :learning_name, "学習名" %></p>
            <p class="form-td"><%= f.text_field :learning_name, placeholder: "例）HTMLコーディング", class: "name-area" %></p>
          </div>
          <div class="form-content">
            <p class="form-th"><%= f.label :learning_content, "頑張ったこと" %></p>
            <p class="form-td"><%= f.text_area :learning_content, placeholder: "例）Flexboxの理解と実装。marginの余白調整" , class: "text-area" %></p>
          </div>
          <div class="form-real">
             <p class="form-th"><%= f.label :learning_real, "学びの本音" %></p>
             <p class="form-td"><%= f.text_area :learning_real, placeholder: "例）Flexboxを実装できたけど、やっぱり難しい。もっと良い方法を学びたい。デザインは自身ある！" , class: "text-area"%></p>
          </div>
          <div class="form-genre">
            <div class="form-th"><%= f.label :genre_id, "ジャンル" %></div>
              <div class="form-td genre-form-margin"><%= f.collection_select :genre_id, Genre.all, :id, :name, { prompt: '選択してください' }, class: "genre-area" %>
                <% if current_user.admin? %>
                  <%= link_to genres_path, class: "genre-new-icon" do %>
                    <span><br>ジャンル追加はこちらへ</span>
                  <% end %>
                <% end %>
              </div>
          </div>
          <div class="form-post-image">
            <p class="form-th"><%= f.label :post_image, "投稿画像" %></p>
            <p class="form-td form-image-margin"><%= f.file_field :post_image, accept: "image/*" , class: "image-area" %></p>
          </div>
        </div>
        <div class="form-btn">
           <%= f.submit '新規投稿' %>
        </div>
       <% end %>
     </div>
    </article>
    <aside class="sidebar_right">
      <%= render 'shared/sidebar_right' %>
    </aside>
  </div>
</div>
<%= render 'shared/footer' %>