<div class="first-form-view">
  <%= render 'shared/header' %>
  <div>
    <div class="form-title">
      <div class="error-message">
        <% if @post_learning.errors.any? %>
         <%= @post_learning.errors.count %>件のエラーが発生しました
         <ul>
           <% @post_learning.errors.full_messages.each do |message| %>
           <li><%= message %></li>
           <% end %>
         </ul>
        <% end %>
      </div>
    </div>
  </div>
  <div class="top-contents">
    <aside class="sidebar_left">
      <%= render 'shared/sidebar_left' %>
    </aside>
    <article class="form-article">
     <div class="form-view">
      <h1>
         <span>投稿フォーム</span>
      </h1>
      <%= form_with model: @post_learning, local:true do |f| %>
        <table class="form-table">
          <tr class="form-name">
            <th class="form-th"><%= f.label :learning_name, "学習名" %></th>
            <td class="form-td"><%= f.text_field :learning_name, placeholder: "例）HTMLコーディング", class: "name-area" %></td>
          </tr>
          <tr class="form-content">
            <th class="form-th"><%= f.label :learning_content, "頑張ったこと" %></th>
            <td class="form-td"><%= f.text_area :learning_content, placeholder: "例）Flexboxの理解と実装。marginの余白調整" , class: "text-area" %></td>
          </tr>
          <tr class="form-real">
             <th class="form-th"><%= f.label :learning_real, "学びの本音" %></th>
             <td class="form-td"><%= f.text_area :learning_real, placeholder: "例）Flexboxを実装できたけど、やっぱり難しい。もっと良い方法を学びたい。デザインは自身ある！" , class: "text-area"%></td>
          </tr>
          <tr class="form-genre">
            <th class="form-th"><%= f.label :genre_id, "ジャンル" %></th>
              <td class="form-td"><%= f.collection_select :genre_id, Genre.all, :id, :name, { prompt: '選択してください' }, class: "genre-area" %>
                <%= link_to genres_path, class: "genre-new-icon" do %>
                  <span>　ジャンル追加はこちらへ</span>
                <% end %>
              </td>
          </tr>
          <tr class="form-post-image">
            <th class="form-th"><%= f.label :post_image, "商品画像" %></th>
            <td class="form-td"><%= f.file_field :post_image, accept: "image/*" , class: "image-area" %></td>
          </tr>
        </table>
        <div class="form-btn">
           <%= f.submit '新規登録' %>
        </div>
       <% end %>
     </div>
    </article>
    <aside class="sidebar_right">
      <%= render 'shared/sidebar_right' %>
    </aside>
  </div>
</div>
<%= render 'shared/footer' %>