<div class="first-show-view">
  <%= render 'shared/header' %>
  <div class="result-genre-name-show">
    <p>学習投稿詳細</p>
  </div>
  <div class="top-contents">
    <aside class="sidebar_left">
      <%= render 'shared/sidebar_left' %>
    </aside>
    <article class="home-article">
      <div class="show-article">
        <div class="show-top">
          <div class="show-main-left">
            <div class="show-comment-time">
              <%= time_ago_in_words(@post_learning.created_at) %>前
            </div>
            <div class="show-post-image">
              <div class="show-inner-middle">
                <div class="show-content-text-inner">
                  <div class="show-post-name">
                    <p>学習名</p>
                  </div> 
                  <div class="show-post-name-inner">
                    <p><%= @post_learning.learning_name %></p>
                  </div>
                </div>
                <div>
                  <div class="show-content-text-inner">
                    <div class="show-post-content">
                      <p>頑張ったこと</p>
                    </div>
                    <div class="show-post-content-inner">
                      <p><%= @post_learning.learning_content %></p>
                    </div>
                  </div>
                  <div class="show-main-right">
                    <p class="show-main-right-image">
                      <%= image_tag @post_learning.post_image.variant(resize_to_limit: [350,250]) if @post_learning.post_image.attached? %>
                    </p>
                  </div>
                </div>
                <div class="show-content-text-inner">
                  <div class="show-post-real">
                    <p>学びの本音</p>
                  </div>
                  <div class="show-post-real-inner">
                    <p><%= @post_learning.learning_real %></p>
                  </div>
                </div>
                <div class="show-content-text-inner">
                  <div class="show-post-genre">
                    <p>ジャンル</p>
                  </div>
                  <div class="show-post-genre-inner">
                    <p><%= @post_learning.genre.name %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="show-favorite-edit">
          <div class="show-post-favorite">
            <div>
              <% unless user_signed_in? && current_user.id == @post_learning.user_id %>
                <% if @post_learning.favorited_by?(current_user) %>
                  <p>
                    <%= link_to post_learning_favorites_path(@post_learning), method: :delete do %>
                      ♥ いいね <%= @post_learning.favorites.count %>
                    <% end %>
                  </p>
                <% else %>
                  <p>
                    <%= link_to post_learning_favorites_path(@post_learning), method: :post do %>
                      ♡ いいね <%= @post_learning.favorites.count %>
                    <% end %>
                  </p>
                <% end %>
              <% end %>
            </div>
            <div>
              <p class="post-user-favorite">投稿者：
                <%= link_to user_path(@post_learning.user.id) do %>
                  <%= @post_learning.user.name %>
                <% end %>
              </p>
            </div>
          </div>
          <div class="show-edit-destroy">
            <% if user_signed_in? && current_user.id == @post_learning.user_id %>
              <%= link_to edit_post_learning_path(@post_learning) do %>
                <%= image_tag '/assets/edit.png', class:'icon-mypage' %>
              <% end %>
              <%= link_to post_learning_path(@post_learning), method: :delete, "data-confirm" => "本当に削除しますか？" do %>
                <%= image_tag '/assets/trushbox.png', class:'icon-mypage' %>
              <% end %>
            <% elsif current_user.admin? %>
              <%= link_to post_learning_path(@post_learning), method: :delete, "data-confirm" => "本当に削除しますか？" do %>
                <%= image_tag '/assets/trushbox.png', class:'icon-mypage' %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div>
        <%= form_with model: [@post_learning, @post_comment] do |f| %>
        <div class="form-title">
          <div class="error-message-comment">
             <% if @error_comment.present? %>
                <div id="error_explanation">
                  <ul>
                    <% @error_comment.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
            </div>
          </div>
          <div class="show-post-comment">
            <div class="post-comment-inner">
              <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" , class: "show-text-area" %>
            </div>
            <div class="show-form-btn">
              <%= f.submit "送信"%>
            </div>
          </div>
        <% end %>
         <% @post_comments.each do |post_comment| %>
          <div class="show-comment-top">
            <div class="show-comment">
              <div class="show-comment-time">
                <%= time_ago_in_words(post_comment.created_at) %>前
              </div>
              <div class="show-comment-left">
                <div class="show-comment-user">
                  <p><%= post_comment.user.name %></p>
                </div>
                <div class="show-user-image">
                  <%= link_to user_path(post_comment.user.id) do %>
                    <%= image_tag post_comment.user.get_profile_image(100,100) %>
                  <% end %>
                </div>
              </div>
              <div class="show-comment-inner">
                <p><%= post_comment.comment %></p>
              </div>
              <div class="show-comment-destroy">
                <% if post_comment.user == current_user %>
                  <%= link_to post_learning_post_comment_path(post_comment.post_learning, post_comment), method: :delete, "data-confirm" => "本当に削除しますか？" , class: "show-destroy" do %>
                    <%= image_tag '/assets/trushbox.png', class:'icon-mypage' %>
                  <% end %>
                <% elsif current_user.admin? %>
                  <%= link_to post_learning_post_comment_path(post_comment.post_learning, post_comment), method: :delete, "data-confirm" => "本当に削除しますか？" , class: "show-destroy" do %>
                    <%= image_tag '/assets/trushbox.png', class:'icon-mypage' %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      
    </article>
    <aside class="sidebar_right">
      <%= render 'shared/sidebar_right' %>
    </aside>
  </div>
</div>
<%= render 'shared/footer' %>


