<% visitor = notification.visitor %>
<% visited = notification.visited %>

 <div class="notification-text-time">
  <p>
    <%= time_ago_in_words(notification.created_at).upcase %>前
  </p>
</div>
<div class="notification-content">
  <div class="notification-left-name-image">
    <div class="notification-left-image">
      <%= link_to user_path(notification.visitor), class: "article-notification-image" do %>
        <%= image_tag visitor.get_profile_image(100,100) %>  
      <% end %>
    </div>
    <div class="notification-text-name">
      <%= link_to user_path(notification.visitor) do %>
        <strong>
          <%= visitor.name %>
        </strong>
      <% end %>
      <br>さんが
    </div>
  </div>
  <div class="notification-text-content">
    <% case notification.action
    when 'follow' %>
      <div class="notification-favorite-content-inner">
        あなたを フォローしました
      </div>
    <% when 'favorite' %>
      <div class="notification-favorite-content-inner">
          <strong>
            <%= link_to 'あなたの投稿', notification.post_learning %>
          </strong>
          にいいねしました
      </div>
    <% when 'post_comment' %>
      <% if notification.post_learning.user_id == visited.id %>
        <div class="notification-comment-my-content">
        　<strong><%= link_to "あなたの投稿", notification.post_learning %></strong> にコメントしました  
        </div>
      <% else %>  
        <div class="notification-comment-user-content">
          <div>
            <%= link_to user_path(visited), class: "article-notification-image" do %>
              <%= image_tag notification.post_learning.user.get_profile_image(100,100) %>
            <% end %>
          </div>
          <div class=notification-comment-name-content>
            <%= link_to post_learning_path(notification.post_learning), class: "article-notification-image" do %>
              <strong>
                <%= notification.post_learning.user.name %>さんの投稿
              </strong>
            <% end %>
            にコメントしました
          </div>
        </div>
      <% end %>
      <p class="notification-comment"><%= PostComment.find_by(id: notification.post_comment_id)&.comment %></p>
    <% when 'dm' %>
      <div class="notification-favorite-content-inner">
        あなたにDMを送りました
      </div>
      <p class="notification-comment">
        <%= truncate(notification.message.body, length: 20, omission: '... (一部表示)') %>
        <%= link_to room_path(notification.room) do %>
          <h4 class="dm-move">DMの送信画面に移動</h4>
        <% end %>
      </p>
    <% end %>
  </div>
</div>
<hr>