<% visitor = notification.visitor %>
<% visited = notification.visited %>

<span>
  <%= link_to user_path(notification.visitor) do %>
    <%= image_tag visitor.get_profile_image(100,100) %>
    <%= visitor.name %>
  <% end %>
  <span>さんが</span>
  <br>

  <div>
    <div>
      <% case notification.action %>
      <% when 'follow' %>
        <p>あなたをフォローしました</p>
      <% when 'favorite' %>
        <%= link_to 'あなたの投稿', notification.post_learning %>
        <p>にいいねしました</p>
      <% when 'post_comment' %>
        <% if notification.post_learning.user_id == visited.id %>
          <%= link_to "あなたの投稿", notification.post_learning %>
        <% else %>
          <div>
            <%= link_to post_path(notification.post_learning) do %>
              <%= image_tag notification.post.user.get_profile_image(100,100) %>
              <strong>
                <%= notification.post_learning.user.name %>
              </strong>
            <% end %> 
            さんの投稿
          </div>
        <% end %>
        <p>にコメントしました</p>
        <%= PostComment.find_by(id: notification.post_comment_id)&.comment %>
        <hr>
      <% end %>
    </div>
    <div>
      <%= time_ago_in_words(notification.created_at).upcase %>  
    </div>
  </div>
</span>

 