<% visitor = notification.visitor %>
<% visited = notification.visited %>

  <div class="notification-content">
    <div class="notification-text-time">
      <%= time_ago_in_words(notification.created_at).upcase %>前  
    </div>
    <div>
      <%= link_to user_path(notification.visitor), class: "article-notification-image" do %>
        <%= image_tag visitor.get_profile_image(100,100) %>  
      <% end %>
    </div>
    <div class="notification-text-name">
      <%= link_to user_path(notification.visitor) do %>
        <%= visitor.name %>
      <% end %>
      さんが
    </div>
    <div class="notification-text-content">
      <% case notification.action %>
      <% when 'follow' %>
        あなたをフォローしました
      <% when 'favorite' %>
        <%= link_to 'あなたの投稿', notification.post_learning %>にいいねしました
      <% when 'post_comment' %>
        <% if notification.post_learning.user_id == visited.id %>
          <%= link_to "あなたの投稿", notification.post_learning %>
        <% else %>
          <div>
            <%= link_to post_learning_path(notification.post_learning) do %>
              <%= image_tag notification.post_learning.user.get_profile_image(100,100) %>
              <strong>
                <%= notification.post_learning.user.name %>
              </strong>
            <% end %> 
            さんの投稿
          </div>
        <% end %>
        にコメントしました
        <p class="notification-comment"><%= PostComment.find_by(id: notification.post_comment_id)&.comment %></p>
      <% end %>
    </div>
  </div>
  <hr>