<div class="first-home-view">
  <%= render 'shared/header' %>
  <div class="result-notifications-main-full">
    <div class="result-notifications-name-title">
      <p>通知</p>
    </div>
  </div>
  <div class="top-contents">
    <aside class="sidebar_left">
      <%= render 'shared/sidebar_left' %>
    </aside>
    <article class="users-article">
      <div class="destroy_all_notifications">
        <%= link_to destroy_all_notifications_path, method: :delete do %>
          <h7>全削除</h7>
        <% end %>
      </div>
      <hr>
      <% notifications = @notifications.where.not(visitor_id: current_user.id) %>
        <% if @notifications.exists? %>
            <div class="users-index">
                <%= render notifications %>
            </div>
        <% else %>
            <p class="no-notification">通知はありません</p>
        <% end %>
    </article>
    <aside class="sidebar_right">
      <%= render 'shared/sidebar_right' %>
    </aside>
  </div>
</div>
<%= render 'shared/footer' %>