<div class="first-mypage-view">
  <%= render 'shared/header' %>
  <div class="result-mypage-full">
    <div class="result-mypage-edit-title mypage-common">
      <% if current_user.id == @user.id %>
        <p>MyPage（編集）</hp>
      <% else %>
        <p><%= @user.name %>さんのプロフィール（編集）</p>
      <% end %>
    </div>
  </div>
  <div class="top-contents">
    <aside class="sidebar_left">
      <%= render 'shared/sidebar_left' %>
    </aside>
    <article class="mypage-article-edit">
      <div class="form-view-mypage-edit">
        <div class="form-title">
          <div class="error-message-new-mypage">
            <% if @user.errors.any? %>
              <ul>
                <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            <% end %>
          </div>
        </div>
        <%= form_with model: @user, local:true do |f| %>
          <div class="mypage-form-table">
            <div class="mypage-form-name mypage-label">
              <p class="mypage-form-th"><%= f.label :name, "ユーザー名" %></p>
              <p class="mypage-form-td"><%= f.text_field :name, class: "name-area" %></p>
            </div>
            <div class="mypage-form-content mypage-label">
              <p class="mypage-form-th"><%= f.label :email, "メールアドレス" %></p>
              <p class="mypage-form-td"><%= f.text_field :email, class: "name-area" %></p>
            </div>
            <div class="mypage-form-introduction mypage-label">
               <p class="mypage-form-th"><%= f.label :introduction, "自己紹介" %></p>
               <p class="mypage-form-td"><%= f.text_area :introduction, class: "mypage-text-area"%></p>
            </div>
            <div class="mypage-form-post-image mypage-label">
              <p class="mypage-form-th"><%= f.label :user_image, "プロフィール画像" %></p>
              <p class="mypage-form-td"><%= f.file_field :user_image, accept: "image/*" , class: "image-area" %></p>
            </div>
          </div>
          <div class="mypage-form-btn">
            <%= f.submit '変更を保存' %>
          </div>
        <% end %>
      </div>
    </article>
    <aside class="sidebar_right">
      <%= render 'shared/sidebar_right' %>
    </aside>
  </div>
</div>
<%= render 'shared/footer' %>




