<div class="first-mypage-view">
  <%= render 'shared/header' %>
   <div class="result-mypage-full">
    <div class="result-mypage-edit-title mypage-common">
      <% if current_user.id == @user.id %>
        <p>MyPage（編集）</hp>
      <% else %>
        <p><%= @user.name %>さんのプロフィール（編集）</p>
      <% end %>
    </div>
  </div>
  <div class="top-contents">
    <aside class="sidebar_left">
      <%= render 'shared/sidebar_left' %>
    </aside>
    <article class="mypage-article">
      <div class="form-view">
        <div class="form-title">
          <div class="error-message-new">
            <% if @user.errors.any? %>
              <ul>
                <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            <% end %>
          </div>
        </div>
        <%= form_with model: @user, local:true do |f| %>
          <table class="mypage-form-table">
            <tr class="mypage-form-name">
              <th class="mypage-form-th"><%= f.label :name, "ユーザー名" %></th>
              <td class="mypage-form-td"><%= f.text_field :name, class: "name-area" %></th>
            </tr>
            <tr class="mypage-form-content">
              <th class="mypage-form-th"><%= f.label :email, "メールアドレス" %></th>
              <td class="mypage-form-td"><%= f.text_field :email, class: "name-area" %></th>
            </tr>
            <tr class="mypage-form-introduction">
               <th class="mypage-form-th"><%= f.label :introduction, "自己紹介" %></th>
               <td class="mypage-form-td"><%= f.text_area :introduction, class: "mypage-text-area"%></th>
            </tr>
            <tr class="mypage-form-post-image">
              <th class="mypage-form-th"><%= f.label :user_image, "プロフィール画像" %></th>
              <td class="mypage-form-td"><%= f.file_field :user_image, accept: "image/*" , class: "image-area" %></th>
            </tr>
          </table>
          <div class="mypage-form-btn">
            <%= f.submit '変更を保存' %>
          </div>
        <% end %>
       </div>
    </article>
    <aside class="sidebar_right">
      <%= render 'shared/sidebar_right' %>
    </aside>
  </div>
</div>
<%= render 'shared/footer' %>




