<div class="first-home-view">
  <%= render 'shared/header' %>
  <div class="result-genre-full">
    <div class="result-users-name-title">
      <p>Users</p>
    </div>
  </div>
  <div class="top-contents">

    <aside class="sidebar_left">
      <%= render 'shared/sidebar_left' %>
    </aside>
    <article class="users-article">
      <% @users.each do |users| %>
        <div class="users-full">
          <div class="article-users-image">
            <%= image_tag users.get_profile_image(180,180) %>
          </div>
        
          <div class="users-middle">
            <div class="users-title-name">
              <p>ユーザー名</p>
            </div>
            <div class="article-users-name">
              <%= link_to user_path(users.id)  do %>
                <%= users.name %>
              <% end %>
            </div>
          </div>
                  
          <div class="users-right">
            <div class="users-title-introduction">
              <p>自己紹介</p>
            </div>
            <div class="article-users-introduction">
              <p><%= users.introduction %></p>
            </div>
          </div>
          
          <div class="users-follow-list">
            <% unless current_user.admin? %>
              <%= render 'shared/follow', user: users %>
            <% end %>
          </div>
        </div>
      <% end %>
    </article>
    <aside class="sidebar_right">
      <%= render 'shared/sidebar_right' %>
    </aside>
  </div>
</div>
</div>
<%= render 'shared/footer' %>





