<div class="header-home">
  <div class="logo">
    <a href="/home">
      <img src="/assets/logo.png" alt="ロゴ画像">
    </a>
  </div>
  <div class="notice-flash">
    <% if flash[:notice] %>
      <div class="flash-message">
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="flash-alert-message">
        <%= flash[:alert] %>
      </div>
  <% end %>  
  </div>
  <div class="nav-haeder">
    <div class="menu-li">
      <ul class="main-nav">
        <% if user_signed_in? %>
          <li class="nav-header-menu">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
          <li class="nav-header-menu">
            <%= link_to "Top", root_path %>
          </li>
          <li class="nav-header-menu">
            <%= link_to "ログイン", new_user_session_path %>
          </li>
          <li class="nav-header-menu">
            <%= link_to "新規登録", new_user_registration_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>