<div class="article-contents">
  <% @post_learnings.each do |post_learnings| %>
    <div class="article-inner">
      <div class="article-upper-half">
        <div class="upper-left">
          <div class="article-time">
            <%= time_ago_in_words(post_learnings.created_at) %>前
          </div>
          <div class="article-title">
            <%= link_to post_learning_path(post_learnings.id) do %>
              <%= post_learnings.learning_name %>
            <% end %>
          </div>
        </div>
        <div class="upper-right">
          <div class="article-user-image">
            <%= link_to user_path(post_learnings.user.id)  do %>
              <%= image_tag post_learnings.user.get_profile_image(100,100) %>
            <% end %>
          </div>
          <div class="article-user-name">
            <%= post_learnings.user.name %>さんが投稿しました
          </div>
        </div>
      </div>
      <div class="article-lower-half">
        <div class="article-effort">
          <div class="article-effort-title">
            <p>頑張ったこと</p>
          </div>
          <div class="article-effort-contents">
            <p><%= post_learnings.learning_content %></p>
          </div>
        </div>
        <div class="article-effort-image">
          <%= image_tag post_learnings.post_image.variant(resize_to_limit: [350,240]) if post_learnings.post_image.attached? %>
        </div>
        <div class="article-real">
          <div class="article-real-title">
            <p>学びの本音</p>
          </div>
          <div class="article-real-contents">
            <p><%= post_learnings.learning_real %></p>
          </div>
        </div>
      </div>
      <div class="eval-lower">
        <div class="article-comments-favorites">
          <div class="article-favorites">
            <p>♥いいね <%= post_learnings.favorites.count %>件</p>
          </div>
          <div class="article-comments">
            <p> コメント <%= post_learnings.post_comments.count %>件</p>
          </div>
        </div>
        <div class="article-genre">
          <div class="article-genre-title">
            <p>ジャンル</p>
          </div>
          <div class="article-genre-name">
            <p><%= post_learnings.genre.name %></p>
          </div>
        </div>
      </div>
      <div>
        <% if current_user.admin? %>
          <%= link_to "削除（管理者）", post_learning_path(post_learnings.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>