<div class="sidebar-full">
  <div class="sidebar">
    <% if user_signed_in? %>
    <div class="sidebar-contents">
      <div class="sidebar-serch">
        <p class="search-key">　キーワードで探す</p>
        <div class="sidebar-list">
          <div class="search_form">
            <%= form_with url: search_keyword_path, local: true, method: :get do |f| %>
              <div class="search-form-text">
                <%= f.select :range, options_for_select([['ユーザー名'], ['学習名'], ['頑張ったこと']]), { prompt: '選択してください' } %>  
              </div>
              <div class="search-form-text-bottun">
                <div class="search-form-list">
                  <%= f.text_field :word %>
                </div>
                <div class="search-form-submit">
                  <%= f.submit "検索", class: "submit-bottun" %>  
                </div>
              </div>
            <% end %>
          </div>
          <div class="search-genre-index">
            <p class="search-genre">　ジャンルで探す</p>
            <% @genres.each do |genre| %>
              <ul>
                <li class="search-list">
                  <%= link_to genre.name, search_genre_post_learnings_path(genre.id), method: :get, class: "search-genre-li" %>
                </li>
              </ul>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <div class="sidebar-left-btn">
      <p>今日もお疲れ様です！</p>
       <div class="sidebar-btn">
        <%= link_to "投稿する", new_post_learning_path, class: "sidebar-btn-link" %>
      </div>
      <div class="sidebar-btn-sp">
        <%= link_to "＋", new_post_learning_path, class: "sidebar-btn-link-sp" %>
      </div>
    </div>
  </div>
</div>