<div class="sidebar-full">
  <div class="sidebar">
    <div class="sidebar-contents">
      <div class="sidebar-serch">
        <p class="search-key">　キーワードで探す</p>
        <div class="sidebar-list">
          <%= form_tag(search_post_learnings_path,:method => 'get') do %>
            <div class="search-form">
              <%= text_field_tag :search %>
              <%= submit_tag '検索', :name => nil %>
            </div>
          <% end %>
          <p class="search-genre">　ジャンルで探す</p>
          <% @genres.each do |genre| %>
            <ul>
              <li class="search-list">
                <%= link_to genre.name, search_post_learnings_path(genre.id), method: :get, class: "search-genre-li" %>
              </li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
    <div class="sidebar-left-btn">
      <p>今日もお疲れ様です！</p>
       <div class="sidebar-btn">
        <%= link_to "投稿する", new_post_learning_path, class: "sidebar-btn-link" %>
      </div>
    </div>
  </div>
</div>