<div class="sidebar-content">
  <% if user_signed_in? %>
    <div class="sidebar-menu">
      <p>　メニュー</p>
      <div class="sidebar-list">
        <ul>
          <li>
            <%= link_to root_path, class: "home-link" do %>
              <%= image_tag '/assets/home_icon.png', class:'icon' %>
              <span>Home</span>
            <% end %>
          </li>
          <li>
            <%= link_to notifications_path, class: "notification-link" do %>
              <% if unchecked_notifications.any?%>
                <div class="news">
                  <%= image_tag '/assets/notification.png', class:'icon' %>
                  <span class="news-span">通知未読</span> 
                </div>
              <% else %>
                <%= image_tag '/assets/notification.png', class:'icon' %>
                <span class="notification-margin">通知</span>
              <% end %>
            <% end %>
          </li>
          <li>
            <%= link_to activities_path, class: "notification-link" do %>
              <% if unchecked_notifications_activity.any?%>
                <div class="news">
                  <%= image_tag '/assets/activity.png', class:'icon' %>
                  <span class="news-span">アクティビティ</span>
                </div>
              <% else %>
                <%= image_tag '/assets/activity.png', class:'icon' %>
                <span class="notification-margin">アクティビティ</span>
              <% end %>
            <% end %>
          </li>
         
          <li>
            <%= link_to user_path(current_user.id), class: "icon-link" do %>
              <%= image_tag '/assets/mypage_icon.png', class:'icon' %>
              <span>Mypage</span>
            <% end %>
          </li>
          <li>
            <%= link_to users_path, class: "icon-link" do %>
              <%= image_tag '/assets/users_icon.jpeg', class:'icon' %>
              <span>Users</span>
            <% end %>
          </li>
          <li>
            <%= link_to post_learnings_path, class: "icon-link" do %>
              <%= image_tag '/assets/article_icon.png', class:'icon' %>
              <span>学習投稿一覧</span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
</div>