<div class="sidebar-full">
  <div class="sidebar">
    <div class="sidebar-contents">
      <div class="sidebar-serch">
        <p class="search-key">　キーワードで探す</p>
        <div class="sidebar-list">
          <% if user_signed_in? %>
            <div class="search_form">
              <%= form_with url: search_keyword_path, local: true, method: :get do |f| %>
                <%= f.text_field :search %>
                <%= f.select :range, options_for_select([['ユーザー'], ['学習名'], ['頑張ったこと']]) %>
                <%= f.submit "検索" %>
              <% end %>
            </div>
          <% end %>
          <p class="search-genre">　ジャンルで探す</p>
          <% @genres.each do |genre| %>
            <ul>
              <li class="search-list">
                <%= link_to genre.name, search_genre_post_learnings_path(genre.id), method: :get, class: "search-genre-li" %>
              </li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
    <div class="sidebar-left-btn">
      <p>今日もお疲れ様です！</p>
       <div class="sidebar-btn">
        <%= link_to "投稿する", new_post_learning_path, class: "sidebar-btn-link" %>
      </div>
    </div>
  </div>
</div>