<div class="first-home-view">
  <%= render 'shared/header' %>
  <div class="result-genre-full-home">
    <%= render 'shared/flash' %>
    <% if request.path.match(/\/search(\/)?/) %>
    <div class="genre-full-top">
    </div>
      <div class="result-genre-top"></div>
      <div class="result-genre-middle">
        <div class="result-genre-search">
          <p>ジャンル検索結果</p>
        </div>
        <div class="result-genre-name">
          <p><%= @genre.name %></p>
        </div>
      </div>
    <div class="result-genre-bottom"></div>
    <% else %>
      <div class="result-home-name-index">
        <p>新着投稿</p>
      </div>
    <% end %>
  </div>
  <div class="top-contents">
    <aside class="sidebar_left">
      <%= render 'shared/sidebar_left' %>
    </aside>
    <article class="home-article">
      <div class="article-contents">
        <% @post_learnings.each do |post_learnings| %>
          <div class="article-inner">
            <div class="article-upper-half">

              <div class="upper-left">
                <div class="title-full-inner">
                  <div class="eval-lower">
                    <div class="article-genre">
                      <div class="article-genre-title">
                        <p>ジャンル</p>
                      </div>
                      <div class="article-genre-name">
                        <p><%= post_learnings.genre.name %></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="article-time">
                  <%= time_ago_in_words(post_learnings.created_at) %>前
                </div>
              </div>

              <div class="upper-right">
                <div class="article-user-image">
                  <%= link_to user_path(post_learnings.user.id)  do %>
                    <%= image_tag post_learnings.user.get_profile_image(100,100) %>
                  <% end %>
                </div>
                <div class="article-user-name">
                  <%= post_learnings.user.name %>さんが投稿しました
                </div>
              </div>
            </div>
            <div class="article-lower-half">
              <div class="article-full-lower">
                <div class="article-title">
                  <div class="title-new">
                    <span>New!</span> 
                  </div>
                  <div class="title-name-inner">
                    <%= link_to post_learning_path(post_learnings.id) do %>
                      <%= post_learnings.learning_name %>
                    <% end %>
                  </div>
                </div>
                <div class="article-effort">
                  <div class="article-effort-title">
                    <p>頑張ったこと</p>
                  </div>
                  <div class="article-effort-contents">
                    <p><%= post_learnings.learning_content %></p>
                  </div>
                </div>
                <div class="article-effort-image">
                  <%= image_tag post_learnings.post_image.variant(resize_to_limit: [900,900]).processed if post_learnings.post_image.attached? %>
                </div>
                <div class="article-real">
                  <div class="article-real-title">
                    <p>学びの本音</p>
                  </div>
                  <div class="article-real-contents">
                    <p><%= post_learnings.learning_real %></p>
                  </div>
                </div>
              </div>
              <div class="article-lower-right">
                <div class="article-comments-favorites">
                  <div class="article-favorites">
                    <div class="show-post-favorite">
                      <p>
                        <span>♥</span>いいね <%= post_learnings.favorites.count %>件
                      </p>
                    </div>
                  </div>
                  <div class="article-comments">
                    <p>コメント <%= post_learnings.post_comments.count %>件</p>
                  </div>
                </div>
                
                <div class="home-comment-inner">
                  <% post_learnings.post_comments.first(4).each do |post_comment| %>
                    <div class="home-comment-top">
                      <div class="home-article-time">
                        <%= time_ago_in_words(post_comment.created_at) %>前
                      </div>
                      <div class="home-comment">
                        <div class="home-img-comment">
                          <div class="home-article-img">
                            <div class="home-user-image">
                              <p class="home-user-image-name"><%= post_comment.user.name %></p>
                              <p class="home-user-image-content"><%= image_tag post_comment.user.get_profile_image(100,100) %></p>
                            </div>
                          </div>
                          <div class="home-comment-right">
                            <div class="home-comment-text-inner">
                              <p><%= post_comment.comment %></p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
                <div class="post-comment-more">
                  <% if post_learnings.post_comments.count >= 4 %>
                    <%= link_to post_learning_path(post_learnings.id) do %>
                      <span>もっと見る</span>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </article>
    <aside class="sidebar_right">
      <%= render 'shared/sidebar_right' %>
    </aside>
  </div>
</div>
<%= render 'shared/footer' %>

