<div class="main">
  <div class="first-view">
    <div class="header-top">
      <div></div>
      <div class="nav-haeder">
        <ul class="main-nav">
          <% if user_signed_in? %>
            <li class="nav-header-menu">
              <%= link_to "Home", home_path %>
            </li>
            <li class="nav-header-menu">
              <%= link_to "MyPage",  users_mypage_path  %>
            </li>
            <li class="nav-header-menu">
              <%= link_to "Users", users_path %>
            </li>
            <li class="nav-header-menu">
              <%= link_to "学習投稿一覧", post_learnings_path %>
            </li>
             <li class="nav-header-menu">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            </li>
          <% else %>
            <li class="nav-header-menu">
              <%= link_to "Top", root_path %>
            </li>
            <li class="nav-header-menu">
              <%= link_to "ログイン", new_user_session_path %>
            </li>
            <li class="nav-header-menu">
              <%= link_to "新期登録", new_user_registration_path %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="menu-content">
      <h1>
        マナウィズ<br><small>　〜孤独ではない学びを〜</small>
      </h1>
    </div>
  </div>
  <div class="menu-text">
    <p>
      ”マナウィズ” は、<span>「ー人だとやる気が出ない」</span> <span>「一緒に学べる仲間がいるといいな」</span><br>
      <span>「他の人はどんな学習をしているかな」</span>と過去に一度でも思ったことある方に、<br>
      学習モチベーションの向上に使って頂きたいサイトです！
    </p>
  </div>
  <div class="menu-text-button">
    <div class="button_first">
      <%= link_to 'ログイン', new_user_session_path, class: "login_button" %>
    </div>
    <div class="button-text">
      または
    </div>
    <div class="button_second">
      <%= link_to '新期登録', new_user_registration_path, class: "registrate_button" %>  
    </div>
  </div>
</div>

