<div class="first-home-view">
  <%= render 'shared/header' %>
  <div class="result-genre-full">
    <div class="result-mypage-full">
      <% if @range == "ユーザー" %>
        <div class="result-users-search-name-title">
          <p class="user-search-result">検索結果 [User]：<%= params[:word] %></p>
        </div>
      <% elsif  @range == "学習名" %>
        <div class="post_learning-search-result">
          <p>検索結果 [学習名]：<%= params[:word] %></p>
        </div>
      <% elsif  @range == "頑張ったこと" %>
        <div class="post_learning-search-result">
          <p>検索結果 [頑張ったこと]：<%= params[:word] %></p> 
        </div>
      <% else %>
         <div class="post_learning-index-result">
           <p>学習投稿一覧</p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="top-contents">
    <aside class="sidebar_left">
      <%= render 'shared/sidebar_left' %>
    </aside>
    <article class="users-article">
      <% if @range == "ユーザー" %>
        <%= render 'shared/users' %>
      <% else %>
        <%= render 'shared/post_learnings' %>
      <% end %>
    </article>
    <aside class="sidebar_right">
      <%= render 'shared/sidebar_right' %>
    </aside>
  </div>
</div>
<%= render 'shared/footer' %>