<div class="first-home-view">
  <%= render 'shared/header' %>
  <%= render 'shared/flash' %>
  <div class="result-genre-full">
    <div class="result-users-name-title">
      <p>チャット</p>
    </div>
  </div>
  <div class="top-contents">
    <aside class="sidebar_left">
      <%= render 'shared/sidebar_left' %>
    </aside>
    <article class="users-article">
     <%= render 'shared/dm' %>
    </article>
    <aside class="sidebar_right">
      <%= render 'shared/sidebar_right' %>
    </aside>
  </div>
</div>
<%= render 'shared/footer' %>