<div class="first-home-view">
  <%= render 'shared/header' %>
  <div class="result-genre-full">
    <div class="result-users-name-title">
      <p>チャット</p>
    </div>
  </div>
  <div class="top-contents">
    <aside class="sidebar_left">
      <%= render 'shared/sidebar_left' %>
    </aside>
    <article class="users-article">
     <%= render 'shared/dm' %>
    </article>
    <aside class="sidebar_right">
      <%= render 'shared/sidebar_right' %>
    </aside>
  </div>
  <div class="post-new">
    <div id="footer">
      <div class="footer-copy">
        <p>&copy; 2023 Daiki-Kato</p>    
      </div>
      <div class="footer-list">
        <ul>
          <li><%= link_to "お問い合わせ", root_path, class: "footer-text" %></li>
          <li><%=link_to "利用規約", root_path, class: "footer-text" %></li>
          <li><%= link_to "プライバシーポリシー", root_path, class: "footer-text" %></li>
          <li><%= link_to "運営者情報", root_path, class: "footer-text" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>





