<% visitor = activity.visitor %>
<% visited = activity.visited %>

  <div class="notification-content">
    <div class="notification-text-time">
      <%= time_ago_in_words(activity.created_at).upcase %>前  
    </div>
    <div>
      <%= link_to user_path(activity.visitor), class: "article-notification-image" do %>
        <%= image_tag visitor.get_profile_image(100,100) %>  
      <% end %>
    </div>
    <div class="notification-text-name">
      <%= link_to user_path(activity.visitor) do %>
        <%= visitor.name %>
      <% end %>
      さんが
    </div>
    <div class="notification-text-content">
      <% case activity.action %>
      <% when 'follow' %>
        あなたをフォローしました
      <% when 'favorite' %>
        <%= link_to 'あなたの投稿', activity.post_learning %>にいいねしました
      <% when 'post_comment' %>
        <% if activity.post_learning.user_id == visited.id %>
          <%= link_to "あなたの投稿", activity.post_learning %>
        <% else %>
          <div>
            <%= link_to post_learning_path(activity.post_learning) do %>
              <!--<%= image_tag activity.post_learning.user.get_profile_image(100,100) %>-->
              <strong>
                <%= activity.post_learning.user.name %>
              </strong>
            <% end %> 
            さんの投稿
          </div>
        <% end %>
        にコメントしました
        <p class="notification-comment"><%= PostComment.find_by(id: activity.post_comment_id)&.comment %></p>
      <% end %>
    </div>
  </div>
  <hr>