<div class="first-home-view">
  <%= render 'shared/header' %>
  <%= render 'shared/flash' %>
  <div class="result-notifications-main-full">
    <div class="result-activities-name-title">
      <p>アクティビティ</p>
    </div>
  </div>
  <div class="top-contents">
    <aside class="sidebar_left">
      <%= render 'shared/sidebar_left' %>
    </aside>
    <article class="users-article">
      <div class="destroy_all_notifications">
        <%= link_to destroy_all_activities_path, method: :delete do %>
          <h7>全削除</h7>
        <% end %>
      </div>
      <hr>
      <% if @activities.exists? %>
        <% @activities.each do |activity| %>
          <div class="users-index">
            <%= render 'activities/activity', activity: activity %>
          </div>
        <% end %>
      <% else %>
        <p class="no-notification">アクティビティはありません</p>
      <% end %>
      <%= paginate @activities, class: "page" %>
    </article>
    <aside class="sidebar_right">
      <%= render 'shared/sidebar_right' %>
    </aside>
  </div>
</div>
<%= render 'shared/footer' %>

