<div class="first-home-view">
  <%= render 'shared/header' %>
  <div class="result-genre-full">
    <div class="result-users-name-title">
      <p>Users</p>
    </div>
  </div>
  <div class="top-contents">

    <aside class="sidebar_left">
      <%= render 'shared/sidebar_left' %>
    </aside>
    <article class="users-article">
      <h3 class="text-center">通知</h3>
          <%= link_to destroy_all_activities_path, method: :delete do %>
              <h7>全削除</h7>
          <% end %>
          <hr>
      <% if @activities.exists? %>
          <% @activities.each do |activity| %>
            <%= render 'activities/activity', activity: activity %>
          <% end %>
      <% else %>
          <p>アクティビティはありません</p>
      <% end %>
    </article>
    <aside class="sidebar_right">
      <%= render 'shared/sidebar_right' %>
    </aside>
  </div>
</div>


